*{
	margin:0;
    padding:0;
    
}
.header {
    
    text-align: center;   
    font-size: 30px;
    color: rgba(45, 177, 5, 0.945);
    background-color: rgb(220, 14, 203);
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to bottom right, rgb(210, 11, 140), rgb(6, 187, 55));
}
h1 {
    text-shadow: 2px 2px 5px rgb(78, 6, 222);
    
}
.nav-bar{
    text-align: center;
    list-style:none;
    margin-top:0px;
    word-spacing:10px;
    text-decoration: none;
    background-color: rgb(16, 23, 228);
    padding: 15px;
    }
    .nav-bar li{
    display:inline-block;
    }
    .nav-bar li a{
    color:#fff;
    text-decoration:none;
    padding:16px 20px;
    font-family:poppins;
    font-size:16px;
    }
    .nav-bar li a:hover{
    background:rgb(191, 212, 3);
    color:#333;
    }
    
    




    .footer {
        padding: 30px;
        color: darkred;
        background-color: rgb(220, 14, 203);
        background-image: linear-gradient(to bottom right, rgb(210, 11, 140), rgb(6, 187, 55));
        text-align: center;
    }